<header>
  <h1 class="site-title"><a href="/blog/">{{ site.name }}</a></h1>
  <nav class="main-nav">
    <a href="#" class="opener show-on-mobiles">...</a>
    <div class="clear-opener show-on-mobiles"></div>
    <div class="grid">
      <ul>
        <li><a href="/blog/">Anasayfa</a></li>
        <li><a href="/blog/categories#genel">Genel</a></li>
		<li><a href="/blog/categories#asp-net">ASP.NET</a></li>
		<li><a href="/blog/categories#c">C#</a></li>
		<li><a href="/blog/categories#html-css-js">HTML/CSS/JS</a></li>
		<li><a href="/blog/categories#angular">Angular</a></li>
		<li><a href="/blog/categories#sql">SQL</a></li>
		<li><a href="/blog/categories#diğer">Diğer</a></li>
      </ul>
    </div>
  </nav>
</header>
